@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  nav button { display:none; }  /* hamburger button does not need to be shown */
  
  section.forecast { display: inline;
   font-style: bold;
   font-size: 25px;
   }
tr th{
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 8px;
    background-color: #91DBFF;
    border-right: 3px solid #555;
    }
tr td {
    display: inline;
    padding: 8px 15px;
    }
h3{
    margin-left: 350px;
    }
.forecast{
   margin-left: 200px;
    }; }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

}