* { 
    box-sizing: border-box;
align-content: center;    
}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    background-color: whitesmoke;
    color: black;
    max-width: 100%;
   }

/* ---------HEADER HERE --------*/ 

header {
    background-color: #369CCC;
    padding: .5rem 2%;
    width: 100%
    }
header h1 {
    font-size: 40px;
    margin: 3% 0 0 0;
    }
header img {
    width: 150px;
    height: 150px;
    }
header h2 {margin: 0; font-weight: normal;}
header figure.logo{
    float: left;
    margin: 0 2% 0 0;
    }
/* --------NAV HERE --------*/ 
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
    }
nav {
    font-size: 20px;
    display: flex;
    border-bottom: 1px solid #555;
    border-top: 1px solid #555;
    width: 100%;
    }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #369CCC;
    }
nav ul li {
    border-right: 3px solid #bbb;
    margin-top: auto;
}
nav ul li a {
    display:flex;
    padding: 12px 14px;
    text-decoration: none;
    color: white;
    background-color: #91DBFF;
    border-top: 2px solid;
}
nav ul li.active a {
     background-color: #486E7F;
}
nav ul li a:hover {
    background-color: #369CCC;
    }

nav ul.hide{display: none;}
/* ---------MAIN HERE --------*/ 
main {
    padding: 0;
    min-height: 10rem;
}
main h2 {
   font-size: 30px; 
   color: #22617F;
   padding: 0 2%;
}
main figure.hero { width:96%; margin: 0 0 .2rem 2%;  }
main figure.hero img { width: 100%; }

section div.windchill {margin: 1rem;}
.form {background-color:#bbb; padding: 1rem; border:1px solid #444;}
div {background-color:#eee; padding: 1rem; border:1px solid #444;}
#aNum {border:1px solid #bbeedd; background-color:#aaffcc; text-align:center;}

.WheaterSum{
    padding: 0 2%;
    font-size: 24px;
    }
/* ---------10 days FORECASt HERE --------*/ 
section.forecast { 
  display:none; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: .8rem 2%;
  font-size: 25px;
   }
h3{
    margin-left: 100px;
   }
tr th{
    display: inline;
    color: white;
    text-align: center;
    padding: 0 0 0 2%;
    text-decoration: none;
    background-color: #91DBFF;
    border-right: 3px solid #555;
     
    }
tr td {
   padding: 8px 15px;
    }

  /* show the 10-day forecast with the medium view and up */

/* ---------ARTICLE HERE --------*/ 
article figure.myimage{   
     width: 45%;}
            /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  /* fill the page in the small/phone view */
article figure.myimage img{
    width: 70%;
    margin: 0 0 2% 0;
    float: right;
    }
article p{
margin: 0 0 0 2%;
    }
/* ---------GALLERY HERE --------*/ 
div.gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: .8rem 2%;
    }
/* ---------FOOTER HERE --------*/ 
footer {
    font-size: 15px;
    background-color: #369CCC;
    text-align: center;
}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* clearfix */
.clearfix {
    content: "";
    display: table;
    clear: both;    
}
