/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: fantasy;
    color: black;
    background-color: aliceblue;
}

h1 {
    font-size: 40px;
    color: #FF8F00;
    font-family: 'Euphoria Script', cursive;
    font-size: 1.75em;
    text-align: left;
    word-wrap: normal;
    margin-left: .5em;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color: #0E91B2;
    color: black;
   border-radius: 13px;
}

header img {
    width: 200px;
    height: auto;
    float: right;
    border-radius: 20px;
    margin: .75em;
}

footer {
    font-size: 20px;
}